{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="auth-box">
    <h2>Create Account</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.username }}
        {{ form.email }}
        {{ form.password1 }}
        {{ form.password2 }}

        <button type="submit">Signup</button>
    </form>

    <p>
        Already have an account?
        <a href="{% url 'login' %}">Login</a>
    </p>
</div>

</body>
</html>
